<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>RSC Demo</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <div id="root"><!--ROOT--></div>
    <script id="react-flight" type="react/flight">
      <!--FLIGHT-->
    </script>
    <footer>
      <a href="https://rsc-demo.timtech.blog"
        >React Server Components Demo Playground</a
      ><br />
      <a href="https://github.com/ziir/rsc-demo">Source code on GitHub</a><br />
      Based on <a href="https://react-notes-app.timtech.blog">React Notes App</a
      ><br />
      Read
      <a href="https://timtech.blog/react-server-components-rsc-no-framework/"
        >React Server Components without a framework</a
      ><br />
    </footer>
  </body>
</html>
